<footer>
    <div class="footer-top pt-40 pb-40 pt-sm-30 pb-sm-10">
        <div class="container w-1100">
            <div class="container-inner">
                <div class="show" id="go-top">
                    <a href="#"><img alt="" src="{{ 'go-top.png' | asset_url }}"></a>
                </div>
                <div class="row">
                    <div class="col-12 large-12 text-center pb-40 pb-sm-15">
                        <div class="col-inner">
                            <a href="#"><img alt="" src="{{ 'logo.png' | asset_url }}"></a>
                        </div>
                    </div>

                    <div class="col-12 large-12 text-center sm-only">
                        <div class="col-inner">
                            <a class="btn btn-cart" href="/cart">
                                <i class="cart" height="25px" width="25px"></i>
                                <span>買い物カゴを見る・購入へ</span>
                            </a>
                        </div>
                    </div>

                    <div class="col-6 large-3 text-center">
                        <div class="col-inner">
                            <a class="btn btn-footer bfcl-3" href="/">TOPへ</a>
                        </div>
                    </div>

                    <div class="col-6 large-3 text-center">
                        <div class="col-inner">
                            <a class="btn btn-footer bfcl-8" href="/cart">購入・取り消し</a>
                        </div>
                    </div>

                    <div class="col-6 large-3 text-center">
                        <div class="col-inner">
                            <a class="btn btn-footer bfcl-7" href="#">購入履歴</a>
                        </div>
                    </div>

                    <div class="col-6 large-3 text-center">
                        <div class="col-inner">
                            <a class="btn btn-footer bfcl-6" onclick="goBack()">もどる</a>
                        </div>
                    </div>

                    <div class="col-12 large-12 text-center pt-40 sm-hide">
                        <div class="col-inner">
                            <ul class="nav nav-footer">
                                <li class="menu-item">
                                    <a href="/pages/shopping-guide">ショッピングガイド</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/pages/payment-shipping">お支払い・送料</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/pages/fax-order">FAXでのご注文</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/account/register">新規会員登録</a>
                                </li>
                            </ul>

                            <ul class="nav nav-footer mt-40">
                                <li class="menu-item">
                                    <a href="/pages/act-of-specified-commercial">特定商取引法に基づく表示</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/pages/privacy-policy">プライバシーポリシー</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/pages/company">会社概要</a>
                                </li>
                                <li class="menu-item">
                                    <a href="/pages/contact">お問い合わせ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center color-white bgcl-2">
        <p>(c)2021新居浜いいもの市場.</p>
    </div>
</footer>