<footer>
    <div class="footer-top pt-40 pb-40">
        <div class="container w-1100">
            <div class="container-inner">
                <div class="row">
                    <div class="col-12 large-12 text-center pb-40">
                        <div class="col-inner">
                            <a href="#"><img alt="" src="{{ 'logo.png' | asset_url }}"></a>
                        </div>
                    </div>

                    <div class="col-12 large-3 text-center">
                        <div class="col-inner">
                            <a class="btn btn-footer bfcl-3" href="/">TOPへ</a>
                        </div>
                    </div>

                    <div class="col-12 large-3 text-center">
                        <div class="col-inner">
                            <a class="btn btn-footer bfcl-8" href="/cart">購入・取り消し</a>
                        </div>
                    </div>

                    <div class="col-12 large-3 text-center">
                        <div class="col-inner">
                            <a class="btn btn-footer bfcl-7" href="#">購入履歴</a>
                        </div>
                    </div>

                    <div class="col-12 large-3 text-center">
                        <div class="col-inner">
                            <a class="btn btn-footer bfcl-6" onclick="goBack()">もどる</a>
                        </div>
                    </div>

                    <div class="col-12 large-12 text-center pt-40">
                        <div class="col-inner">
                            <ul class="nav nav-footer">
                                <li class="menu-item">
                                    <a href="#">ショッピングガイド</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">お支払い・送料</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">FAXでのご注文</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">新規会員登録</a>
                                </li>
                            </ul>

                            <ul class="nav nav-footer mt-40">
                                <li class="menu-item">
                                    <a href="#">特定商取引法に基づく表示</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">プライバシーポリシー</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">会社概要</a>
                                </li>
                                <li class="menu-item">
                                    <a href="#">お問い合わせ</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright text-center color-white bgcl-2">
        <p>(c)2021新居浜いいもの市場.</p>
    </div>
</footer>