<footer id="footer">
    <ul class="footer-btn-ul">
        <li class="footer-btn-li">
            <a class="footer-btn" href="javascript:history.back()">
                <span class="footer-ico blue">青</span>もどる</a>
        </li>
        <li class="footer-btn-li">
            <a class="footer-btn" href="cart.html">
                <span class="footer-ico red">赤</span>購入・取り消し</a>
        </li>
        <li class="footer-btn-li">
            <a class="footer-btn" href="#">
                <span class="footer-ico green">緑</span>購入履歴</a>
        </li>
        <li class="footer-btn-li">
            <a class="footer-btn" href="index.html">
                <span class="footer-ico yellow">黃</span>TOPへ</a>
        </li>
    </ul>
</footer>