<div class="page-width bg-white">
    <div class="grid">
        <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
            <div class="breadcrumb">
                <div class="container w-1000">
                    <h2 class="text-center">{{ page.title }}</h2>
                    <div class="link">
                        <a href="/">TOP</a>
                        &gt;
                        <span>{{ page.title }}</span>
                    </div>
                </div>
            </div>

            <div class="rte container w-1100 pb-50">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>
