{% comment %}
  The contents of the product.liquid template can be found in /sections/product-template.liquid
{% endcomment %}

{% section 'product-template' %}
{% section 'product-recommendations' %}

<div id="backToCollection"></div>

{% assign current_variant = product.selected_or_first_available_variant %}

<script type="application/ld+json">

[36mLine: 1[0m
[31m{[0m
[31m    "@context": "http://schema.org/",[0m
[31m    "@type": "Product",[0m
[31m    "name": {{ product.title | json }},[0m
[31m    "url": {{ shop.url | append: product.url | json }},{%- if product.featured_media -%}[0m
[31m        {%- assign media_size = product.featured_media.preview_image.width | append: 'x' -%}[0m
[31m        "image" : [{{ product.featured_media | img_url: media_size | prepend: "https:" | json }}],{%- endif -%}[0m

[36mLine: 26[0m
[32m(empty line)[0m
</script>
